<div class="container">
    <div class="row">
        <div class="course-brief col-lg-12">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <img src="./uploads/courses/e-maths.jpg" class="img-fluid" />
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <h3 class="course-title">
                                <%course%>
                            </h3>
                            <a href="javascript:;" class="btn-custom mb-2 md-trigger" data-modal="modal-start-lesson">Start
                                Learning</a>
                            <a href="javascript:;" class="btn-custom blue mb-2 md-trigger" data-modal="modal-take-test">Take
                                Test</a>
                            <select id="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <ul class="course-icons">
                        <li>
                            <div class="object-icon">
                                <img src="<%TemplatePath%>/img/modules.png" />
                            </div>
                            <label class="object-text figure">5</label>
                            <label class="object-text grey">Modules</label>
                        </li>
                        <li>
                            <div class="object-icon">
                                <img src="<%TemplatePath%>/img/topics.png" />
                            </div>
                            <label class="object-text figure">13</label>
                            <label class="object-text">Topics</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <nav class="nav nav-pills mb-3 course-brief-tab nav-justified">
                <a class="nav-link active" href="#overview">Overview</a>
                <a class="nav-link" href="#modules">Modules</a>
                <a class="nav-link" href="#teachers">Teachers</a>
                <a class="nav-link" href="#reviews">Reviews</a>
            </nav>
            <div class="tab-content course-brief-tab-content">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    <%overview%>
                </div>
                <div class="tab-pane fade" id="modules" role="tabpanel" aria-labelledby="modules-tab">
                    <div class="module">
                        <!-- <h5>Level 100</h3> -->
                        <%lessons%>
                    </div>
                    <a href="#" class="btn-custom md-trigger" data-modal="modal-take-test">Take End of Course
                        Test</a>
                </div>
                <div class="tab-pane fade" id="teachers" role="tabpanel" aria-labelledby="teachers-tab">
                    <div class="row">
                        <div class="col-lg-3">
                            <h4 class="mb-3">Course Teachers</h4>
                            <p>
                                Reiciendis alias molestiae fuga accusantium, expedita nam natus in dolores
                                dignissimos repellat placeat necessitatibus porro unde sunt amet quasi
                                consequatur udiandae volup. Voluptas accusantium officia quaerat minima ex
                                aspernatur.
                            </p>
                            <a href="#" class="btn-custom">Learn More</a>
                        </div>
                        <div class="col-lg-3 teacher">
                            <div class="name">Samuel Asiedu</div>
                            <div class="prof">MSc Mathematics / Professor</div>
                            <div class="overlay">
                                <a href="#" class="btn btn-outline-dark btn-sm icon"><i class="icon facebook f"></i></a>
                                <a href="#" class="btn btn-outline-dark btn-sm icon"><i class="icon twitter"></i></a>
                                <a href="#" class="btn btn-outline-dark btn-sm icon"><i class="icon instagram"></i></a>
                            </div>
                            <img src="./img/teacher_1.jpg" alt="teacher" class="img-fluid">
                        </div>
                        <div class="col-lg-3 teacher">
                            <div class="name">Samuel Asiedu</div>
                            <div class="prof">BSc Mathematics / Professor</div>
                            <div class="overlay">
                                <a href="#" class="btn btn-outline-dark btn-sm icon"><i class="icon facebook f"></i></a>
                                <a href="#" class="btn btn-outline-dark btn-sm icon"><i class="icon twitter"></i></a>
                                <a href="#" class="btn btn-outline-dark btn-sm icon"><i class="icon instagram"></i></a>
                            </div>
                            <img src="./img/teacher_2.jpg" alt="teacher" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                    <ul class="reviews">
                        <li class="review">
                            <img src="./img/comment1.png" alt="" class="review-avatar">
                            <div class="review-details">
                                <a href="#" class="user">Jack Porter</a>
                                <span class="date">14 JANUARY 2016 AT 12:24 AM</span>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                                    doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit
                                    amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                    ut laoreet dolore magna aliquam erat volutpat. </p>
                                <a href="#" class="btn-custom small grey quick-reply">Reply</a>
                            </div>

                        </li>
                        <li class="review">
                            <img src="./img/comment2.png" alt="" class="review-avatar">
                            <div class="review-details">
                                <a href="#" class="user">Jack Porter</a>
                                <span class="date">14 JANUARY 2016 AT 12:24 AM</span>
                                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                                    doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit
                                    amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                    ut laoreet dolore magna aliquam erat volutpat. </p>
                            </div>
                        </li>
                    </ul>
                    <div class="reply-container">
                        <h5>LEAVE A REPLY</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md-modal md-effect" id="modal-start-lesson">
    <div class="md-content">
        <div class="video-panel">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                    </div>
                </div>
            </div>
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <video id="player" playsinline controls>
                            <!-- <source src="/path/to/video.webm" type="video/webm"> -->
                            <!-- Captions are optional -->
                            <!-- <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default> -->
                        </video>
                    </div>
                </div>
            </div>

        </div>
        <div class="description-panel d-none">
            <div data-nav="info">
                <h4 class="title">Elective Mathematics</h4>
                <ul class="playlist">
                    <li class="active">
                        <span class="lesson">Lesson 1: Introduction to Mathematics</span>
                        <span class="time">50:34</span>
                    </li>
                    <li>
                        <span class="lesson">Lesson 1: Introduction to Mathematics</span>
                        <span class="time">50:34</span>
                    </li>
                    <li>Lesson 2</li>
                    <li>Lesson 3</li>
                    <li>Lesson 4</li>
                </ul>
            </div>
            <div data-nav="attachment">
                <div class="title">Course Attachment</div>
            </div>
            <div data-nav="notes" class="active">
                <h4 class="title">My Notes</h4>
                <div class="row toolbar">
                    <div class="col cmd save">Save</div>
                    <div class="col cmd add-note">Add Note</div>
                </div>
            </div>
            <div data-nav="comments">comments</div>
        </div>
        <div class="nav-panel">
            <ul>
                <li><a href="javascript:void(0);" class="md-icon md-close"></a></li>
                <li><a href="javascript:void(0);" class="md-icon md-info active" data-nav="info"></a></li>
                <li><a href="javascript:void(0);" class="md-icon md-attachment" data-nav="attachment"></a></li>
                <li><a href="javascript:void(0);" class="md-icon md-note" data-nav="notes"></a></li>
                <li><a href="javascript:void(0);" class="md-icon md-comments" data-nav="comments"></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="md-modal md-effect" id="modal-take-test">
    <div class="md-content">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div class="container">
                        <div class="row test-panel">
                            <div class="col-lg-10">
                                <img alt="logo" src="./img/logo_green.png" />
                            </div>
                            <div class="col-lg-2 text-right">
                                <h1 class="timer">0:00</h1>
                            </div>
                            <div class="col-lg-8 offset-2 stage">
                                <div class="notice">
                                    <div style="text-align:center;">
                                        <img src="./img/notice.png" alt="notice" />
                                    </div> 
                                    <h3 class="notice-title">Notice</h3>
                                    <p>
                                        Please read the following instructions.
                                        <ol>
                                            <li>You have <strong>30 question</strong> in all to answer.</li>
                                            <li>You have approximately <strong>1 minute</strong> for each question.</li>
                                            <li>When your time for a question ellapse, the system will automatically skip to next question. </li>
                                            <li>Once ready click on the START button below </li>
                                        </ol>
                                    <div style="text-align:center; padding-top: 15px;"> 
                                        <a href="javascript:void(0);" style="width:30%;" class="btn-custom">START</a> 
                                        <a href="javascript:void(0);" style="width:30%;" class="btn-custom red md-close">NOT READY YET</a> 
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md-overlay"></div>