<div v-if="data.error">
    <div class="container-404">
        <div class="wow bounce error-code infinite" data-wow-duration="5s" data-wow-delay="">5</div>
        <div class="wow bounce error-code infinite" data-wow-duration="5s" data-wow-delay="100ms">0</div>
        <div class="wow bounce error-code infinite" data-wow-duration="5s" data-wow-delay="400ms">1</div>
        <p>Sorry!! We can't find the lesson you selected.</p>
        <a href="./cpanel/#/courses/" class="ui button black">Back to Courses</a>
    </div>
</div>
<div v-else>
    <div class="stage-sidebar">
        <div class="ui m-2 message info">
            This page will help you add, edit and delete questions.
            <br />
            <br />
            <strong>Information</strong>
            <hr class="mt-1 mb-1" />
            <strong>Course:</strong> <br />
            <span v-html="data.course.title"></span> <br /><br />
            <strong>Lesson:</strong> <br />
            <span v-html="data.course.lesson"></span> <br /> <br />
            <strong>Total:</strong> <br />
            <span v-html="data.questions.length + ' Questions'"></span>
        </div>
        <div class="m-2">
            <button v-if="data.addNew" @click="addNewQuestion" class="ui button primary fluid">Add New Question</button>
        </div>

    </div>
    <div class="stage-content pb-6">
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="questions">Questions</a>
        </div>
        <div class="ui bottom attached active tab segment scroll-area p-0" data-tab="questions">
            <div class="row m-0">
                <div class="col-lg-12 p-0 questions-list active">
                    <v-questions></v-questions>
                </div>
                <div class="col-lg-12 p-0 question-editor">
                    <h6 class="p-2 bg-black white"><button @click="returnToList" class="ui button inverted icon mini"><i class="icon arrow left"></i></button> Question Editor</h6>
                    <div class="row">
                        <div class="col-lg-7">
                            <form class="ui form p-2 question" @submit.prevent="saveQuestion">
                        <input type="hidden" name="id" />
                        <div class="field">
                            <label>Question</label>
                            <div class="ui input">
                                <vSmallEditor :content="data.option.question" name="question"></vSmallEditor>
                            </div>
                        </div>
                        <div class="field answers-container">
                            <div class="master mb-2" v-for="(option, index) in data.option.answers" :key="index">
                                <vSmallEditor type="answers" :answer="data.option.answer" name="options[answers][]" :index="index" :content="option"></vSmallEditor>
                            </div>                            
                        </div>
                        <button class="ui button mini icon mb-3" @click="addOption" type="button"><i class="icon plus"></i> Add More Option</button>
                        <div class="field">
                            <label>How do you want answers to be displayed?</label>
                            <div class="ui input">
                                <select name="options[type]" class="ui dropdown fluid">
                                    <option value="list-style">List Style</option>
                                    <option value="inline-style">Inline Style</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <input name="options[multiple]" class="multiple" value="0" type="hidden" />                            
                        </div>
                        <div class="field">
                            <button class="ui button primary">Save Question</button>
                            <button type="button" @click="returnToList" class="ui button red">Cancel</button>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                    </form>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="ui modal editor-modal">
        <div class="content">
            <form class="editor-modal-form">
                <v-wysiwyg @wysiwygChange="" name="editor"></v-wysiwyg>
            </form>            
        </div>
        <div class="actions">
            <button class="ui approve button primary">Apply</button>
            <button class="ui cancel button red">Close</button>
        </div>
    </div>
</div>